Repository 22-reactors/monopoly: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: yarn eslint {staged_files}

format:
  run: yarn prettier {staged_files} --write

refact after rebase
  packages/client/src/components/textarea/textarea.module.scss
  packages/client/src/pages/forum/forum.module.scss
Due: format

refs MON-82 правки по ревью
  packages/client/src/components/button/button.test.tsx
  packages/client/src/components/info/info.test.tsx
  packages/client/src/pages/Error/errorPage.test.tsx
Due: lint, format

Themes PGB
  packages/server/db.ts
  packages/server/src/model/Themes.ts
  packages/server/src/model/UserThemes.ts
Due: lint, format

fix oauth and user avatar in comments
  package.json
  packages/client/src/api/oAuth/oAuth.ts
  packages/client/src/pages/forum/ForumTopic/ForumTopic.tsx
Due: lint, format

themes pg
  packages/server/db.ts
  packages/server/src/model/Themes.ts
Due: lint, format

pg
  packages/server/src/API/ThemesAPI.ts
Due: lint, format

Update ThemesAPI.ts
  packages/server/src/API/ThemesAPI.ts
Due: lint, format

Update UserThemes.ts
  packages/server/src/model/UserThemes.ts
Due: lint, format

Feature/mon 85 fix forum db (#63)
  package.json
  packages/client/package.json
  packages/client/src/api/oAuth/oAuth.ts
  packages/client/src/pages/forum/ForumTopic/ForumTopic.tsx
  packages/server/src/API/forumAPI.ts
  yarn.lock
Due: lint, format

Добавляет воспроизведение звука
  packages/client/public/music/dice.mp3
  packages/client/public/music/notification.mp3
  packages/client/src/components/modal/game/gameModal.tsx
  packages/client/src/game-engine/gameEngine.ts
  packages/client/src/service/media/media.ts
  yarn.lock
Due: lint, format

Изменяет пути к музыке
  packages/client/src/components/modal/game/gameModal.tsx
  packages/client/src/game-engine/gameEngine.ts
Due: lint, format

переключатель тем
  package-lock.json
  packages/client/index.html
  packages/client/src/components/authForm/authForm.module.scss
  packages/client/src/components/footer/footer.module.scss
  packages/client/src/components/header/header.module.scss
  packages/client/src/components/header/header.tsx
  packages/client/src/components/textarea/textarea.module.scss
  packages/client/src/components/themeCard/themeCard.module.scss
  packages/client/src/components/themeMessage/themeMessage.module.scss
  packages/client/src/components/themetoggle/ThemeToggle.tsx
  packages/client/src/components/themetoggle/data.ts
  packages/client/src/components/themetoggle/themeToggle.module.scss
  packages/client/src/components/themetoggle/typings.ts
  packages/client/src/components/themetoggler/themeToggler.module.scss
  packages/client/src/main.scss
  packages/client/src/mocs/headerProps.ts
  packages/client/src/pages/Error/errorPage.module.scss
  packages/client/src/pages/forum/forum.module.scss
  packages/client/src/pages/home/home.module.scss
  packages/client/src/pages/leaderboard/leaderboard.module.scss
  packages/client/src/styles/globals.scss
  packages/server/yarn-error.log
  yarn-error.log
Due: lint, format

Themes Postgres
  packages/server/db.ts
  packages/server/src/API/ThemesAPI.ts
  packages/server/src/model/Themes.ts
  packages/server/src/model/UserThemes.ts
Due: lint, format

Themes Postgres
  packages/server/src/API/ThemesAPI.ts
  packages/server/src/model/Themes.ts
  packages/server/src/model/UserThemes.ts
Due: lint, format

Убирает вывод в консоль
  packages/client/src/service/media/media.ts
Due: lint, format

fix bug with nested routes refreshing
  packages/client/index.html
  packages/server/package.json
  yarn.lock
Due: format

Исправляет доступ к статике
  packages/server/index.ts
Due: lint, format

Feature/mon 81 media api (#64)
  packages/client/public/music/dice.mp3
  packages/client/public/music/notification.mp3
  packages/client/src/components/modal/game/gameModal.tsx
  packages/client/src/game-engine/gameEngine.ts
  packages/client/src/service/media/media.ts
  packages/server/index.ts
Due: lint, format

rebase
  packages/client/src/components/button/button.test.tsx
  packages/client/src/components/header/header.tsx
  packages/client/src/components/themeMessage/themeMessage.test.tsx
  packages/client/src/components/themetoggler/ThemeToggler.tsx
  packages/client/src/components/themetoggler/themeToggler.test.tsx
  packages/client/src/pages/Error/errorPage.test.tsx
  packages/client/src/pages/home/home.test.tsx
Due: lint, format

refactor
  packages/client/src/components/fieldset/inputfieldset/InputFieldSet.module.scss
  packages/client/src/components/modal/game/gameModal.module.scss
  packages/client/src/components/themetoggle/ThemeToggle.tsx
  packages/client/src/components/themetoggler/themeToggler.module.scss
  packages/client/src/pages/Error/errorPage.module.scss
  packages/client/src/pages/forum/forum.module.scss
  packages/client/src/pages/gameSetup/gameSetup.module.scss
  packages/client/src/pages/gameSetup/players/players.module.scss
  packages/client/src/styles/globals.scss
  packages/server/index.ts
  packages/server/src/middleware/auth.ts
Due: lint, format

bugfix
  packages/client/src/components/select/selectOption.module.scss
  packages/client/src/pages/leaderboard/leaderboard.module.scss
Due: format

bugfix
  packages/client/src/components/header/header.module.scss
  packages/client/src/components/paginator/paginator.module.scss
  packages/client/src/pages/gameSetup/gameSetup.module.scss
  packages/client/src/pages/gameSetup/players/players.module.scss
  packages/client/src/pages/login/login.module.scss
  packages/client/src/pages/profile/profile.module.scss
  packages/client/src/styles/globals.scss
Due: format

первая тема -light
  packages/client/index.html
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  format: any of: *.{scss,json,js,jsx,ts,tsx}
